{{!--
    Partial: Titre et description de l'article
--}}
<section>
    <div class="container border-bottom">
        <div class="row">
            <div class="col-md-12">
                <h2>{{voiture.make}} {{voiture.model}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 txt-color-black">
                <p>{{voiture.description}}</p>
            </div>
        </div>
</section>