<!--Footer-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>Cras neque nunc, congue ac tempor varius, volutpat interdum sem. Donec tincidunt elementum lacus
                        vel vulputate.</p>
                </div>
                <div class="col-md-4">
                    <p>Mauris eu nulla egestas, ultricies erat id, tincidunt arcu.</p>
                    <p><a href="/">Mentions légales</a></p>
                </div>
                <div class="col-md-4">
                    <p>S'abonner a la newslater</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Your email"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </footer>