{{!--
    Partial: Header contact
--}}
    <section class="headercontact">
        <div class="container pt-6">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <div class="d-flex justify-content-center">
                        <img class="w-50" src="assets/img/Autres/Jdm-Logo.png">
                    </div>
                </div>
                <div class="col-md-6 txt-color-black">
                    <h2>Présentation</h2>
                    <p>Morbi porttitor metus quis maximus cursus. Vestibulum nulla eros, cursus accumsan odio auctor,
                        ultrices maximus risus. Fusce lacinia, diam sit amet iaculis mollis, nibh erat pellentesque
                        turpis, id pulvinar ligula arcu nec lorem. Sed sit amet lacinia erat. Etiam fermentum lobortis
                        maximus. Integer pretium luctus nisl vitae vehicula. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nulla tincidunt felis ut ex vestibulum
                        aliquam. Morbi viverra rhoncus volutpat. Aenean a maximus nisi, vel pharetra justo. In pretium
                        lacus a aliquet sodales. Phasellus cursus commodo malesuada. Maecenas facilisis ligula sapien,
                        nec interdum ex tempus pellentesque.</p>
                </div>
            </div>
        </div>
    </section>