{{!--
    Partial: Banner
--}}

<section id="banner">
    <div class="container">
        <div class="col-12">
            <video src="assets/img/Vidéo/Jimmy's R32 GTR _ 4K.mp4" autoplay muted loop width=100%></video>
        </div>
    </div>
</section>
