{{!--
    Partial: Banner
--}}

<section id="banner">
    <div class="container">
        <div data-aos="zoom-in" class="col-12">
            <video src="assets/img/Vidéo/Jimmy's-R32.mp4" autoplay muted loop width=100%></video>
        </div>
    </div>
</section>
