{{!--
Partial: Banner
--}}

<section id="banner">
    <div data-aos="fade-up" class="col-12">
        <video src="assets/img/Vidéo/Jimmy's-R32.mp4" autoplay muted loop width=100%></video>
    </div>
</section>