{{!--
    Partial: Header page home
--}}
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-12 home-title pt-8">
                    <h1>Japanese domestic market</h1>
                    <p>N°1 des ventes en lignes de véhicule japonais</p>
                    <a href="blog" class="btn-grey btn-full">Tout nos produits</a>
                    <a href="#contact" class="btn-grey btn-full">Contactez nous</a>
                </div>
            </div>
        </div>
    </header>
    