{{!--
    Partial: Header page home
--}}
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-12 home-title pt-8">
                    <h1 data-aos="fade-right" data-aos-duration="1200">Japanese domestic market</h1>
                    <p data-aos="fade-right" data-aos-duration="1200">N°1 des ventes en lignes de véhicule japonais</p>
                    <a data-aos="fade-right" data-aos-duration="1200" href="blog" class="btn-grey btn-full">Tout nos produits</a>
                    <a data-aos="fade-right" data-aos-duration="1200" href="#contact" class="btn-grey btn-full">Contactez nous</a>
                </div>
            </div>
        </div>
    </header>
    