{{!-- Partial produits --}}

<!--PRODUITS--->
    <section id="nosproduits">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Nos véhicules en ventes</h2>
                </div>
            </div>
            <div class="row pb-3 justify-content-center">
                <div class="col-12 col-md-6 col-lg-4 pb-sm-4">
                    <div class="product txt-color-black py-auto">
                        <a href="idblog.html"><img src="assets/img/Voitures-Img/Jzx100.jpg"></a>
                        <h3 class="text-start">Toyota Jzx100 Mark II</h3>
                        <p>Plus récent</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pb-sm-4">
                    <div class="product txt-color-black">
                        <img src="assets/img/Voitures-Img/rx7.jpg">
                        <h3 class="text-start">Mazda RX-7</h3>
                        <p>Plus récent</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 pb-sm-4">
                    <div class="product txt-color-black">
                        <img src="assets/img/Voitures-Img/s13.jpg">
                        <h3 class="text-start">Nissan Silvia S13</h3>
                        <p>Plus récent</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2><a href="blog"><i class="fas fa-angle-double-right"></i> Voir plus <i
                                    class="fas fa-angle-double-left"></i></a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    