<!--forgot-password-->
<!--Email-->
<form action="/forgot" method="post">
    <div class="container col-sm-12 col-md-12 col-lg-9 col-xl-4 pt-8 mb-13">
        <div class="p-4 border border-dark rounded">
            <h2>Mot de passe oublié</h2>
            <div class="col-md-12">
                <div class="contact-form">
                    <label>Email :</label>
                    <input name='email' class="form-control" type="email" id="email-forgot-password"
                        placeholder="Ajouter votre email" />
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Envoyer</button>
            </div>
        </div>
    </div>
</form>