.btn-white
    display: inline-block
    padding: 10px 30px
    text-decoration: none
    border-radius: 10px
    transition: background-color 1s, color 1s, border 1s
    margin-bottom: 20px
    color: #fff
.btn-full 
    background-color: #575757
    color: #fff
    margin-right: 15px

.btn-full:hover 
    background-color: #A5A5A5
    color: #fff