.btn-grey
    display: inline-block
    padding: 10px 30px
    text-decoration: none
    border-radius: 10px
    transition: background-color 1s, color 1s, border 1s
    margin-bottom: 20px
    color: $black!important
.btn-full 
    background-color: $grey
    color: $black
    margin-right: 15px
.btn-full:hover 
    background-color: $lightgrey
    color: $black!important
.btn-contact
    color: $black!important
.neon-button 
  font-size: 3rem
  display: inline-block
  cursor: pointer
  text-decoration: none
  color: $black
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor
  position: relative
.neon-button::before 
  pointer-events: none
  content: ""
  position: absolute
  width: 80%
  height: 80%
  opacity: 0.7
.neon-button::after 
  content: ""
  position: absolute
  opacity: 0
  background-color: $white
  transition: opacity 100ms linear
.neon-button:hover,
.neon-button:focus 
  color: $grey
  text-shadow: none
.neon-button:hover::before,
.neon-button:focus::before 
  opacity: 1
.neon-button:hover::after,
.neon-button:focus::after 
  opacity: 1