footer
    background-color: $color-footer
    width: 100%
footer p 
    color: $white
    text-align: center
    padding-top: 10px
footer p a
    color: $white
.newslater
   padding-top: 5px
   height: 5vh
.newslater input 
    border-radius: 10px 
    width: 60%
    background-color: transparent