footer
    background-color: #575757
    height: 100px
    width: 100%
footer p 
    text-align: center
    padding-top: 10px
footer p a
    color: #000000
.newslater
   padding: 10px 0
   display: flex
   justify-content: flex-end
   color: #A5A5A5
