body
    background-color: #a7a7a7!important
h1,h2
    font-family: 'Lato',sans-serif
    text-transform: uppercase
h2
    color: #575757
    text-align: center
    font-size: 230%!important
    margin-top: 20px!important 
    margin-bottom: 20px!important 
h2:after 
    display: block
    height: 2px
    background-color: #575757
    width: 100px
    content: " "
    margin: 0 auto
    margin-top: 2px 
h2 a 
    text-decoration: none
    color: #575757
h2 a:hover
    color: #fff
    transition: color 1s
h2 a:not(:hover)
    color: #575757
    transition: color 1s