.btn-grey
  display: inline-block
  padding: 10px 30px
  text-decoration: none
  border-radius: 10px
  transition: background-color 1s, color 1s, border 1s
  margin-bottom: 20px
  color: $black!important
  transition: 1s!important
.btn-full
  background-color: $grey
  color: $black
  margin-right: 15px
  transition: 1s!important
.btn-full:hover
  background-color: $lightgrey
  color: $black!important
  transition: 1s!important
.btn-contact
  color: $black!important
  background-color: #A2A7A7!important
  transition: 1s
.btn-contact:hover 
  background-color: $lightgrey!important
  transition: 1s!important