.product
    padding-top: 10px
    border-radius: 10px
.sameImg
    background-size: cover 
    background-position: center
    border-radius: 10px
    box-shadow: 4px 5px 10px black
.product h3
    font-size: 22px
    padding-top: 10px
    transition: 1s
.product p
    color: $orange