{{!--
Partial: Tout les produits de la page blog
--}}
<produits>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="texte">Nos véhicules en ventes</h2>
            </div>
            <label class="txt-color-black">
                <i class="fas fa-sort"></i>
                Trier par :
                <select class="form-select-sm txt-color-black">
                    <option>Plus récent</option>
                    <option>Prix : croissant</option>
                    <option>Prix : décroissant</option>
                </select>
            </label>
        </div>
        <div id="voitures" class="product row pb-3 justify-content-center">
            <div class="col-12 col-md-6 col-lg-4 product-item">
                <div class=" txt-color-black py-auto">
                    <a href="idblog">
                        <img src="assets/img/Voitures-Img/Jzx100.jpg">
                    </a>
                    <h3>Toyota Jzx100 Mark II</h3>
                    <p>Plus récent</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/rx7.jpg">
                    <h3>Mazda RX-7</h3>
                    <p>Plus récent</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/s13.jpg">
                    <h3>Nissan Silvia S13</h3>
                    <p>Plus récent</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/gtr32.jpg">
                    <h3>Nissan GT-R 32</h3>
                    <p>Plus récent</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/honda-nsx.jpg">
                    <h3>Honda NSX</h3>
                    <p>Toujours en vente</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/Impreza.jpg">
                    <h3>Subaru Impreza 22B </h3>
                    <p>Toujours en vente</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/ae86.jpg">
                    <h3>Ae86 Trueno</h3>
                    <p>Toujours en vente</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/gt86.jpg">
                    <h3>Toyota GT86</h3>
                    <p>Toujours en vente</p>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-item txt-color-black">
                    <img src="assets/img/Voitures-Img/twerkstallion.jpg">
                    <h3>Twerkstallion Hoonigan </h3>
                    <p>Toujours en vente</p>
                </div>
            </div>
        </div>
    </div>
</produits>