{{!--
Partial: Input search
--}}
<form action='/result?search=ma' method="get" >
<search>
    <div class="container pt-6">
        <div class="row">
            <div class="col-md-12 search">
                <div class="border-search">
                    <input type=" text" name="search" id="search" placeholder="Search">
                    <i class="fas fa-search pe-2"></i>
                </div>
            </div>
        </div>
    </div>
</search>
</form>