{{!--
Partial: Modal de ban sur le page admin
--}}
<div class="modal fade" id="modalBan{{ this.id_user }}" tabindex="-1" aria-labelledby="modalBan" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBan">Bannir cet utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Êtes vous sûr de vouloir bannir <strong>{{ this.pseudo }}</strong> ? </p>
            </div>
            <form action="/admin/ban/user/{{ this.id_user }}" method="post">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Bannir</button>
                </div>
            </form>
        </div>
    </div>
</div>