
<!--Modal register-->
<div class="modal fade" id="register" aria-hidden="true" aria-labelledby="register" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="register">Crée un compte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="modal-body" class="modal-body">
                <!--Email & Name-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label>Nom :</label>
                            <input class="form-control" type="text" id="name-register"
                                placeholder="Ajouter votre nom" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label>Email :</label>
                            <input class="form-control" type="email" id="email-register"
                                placeholder="Ajouter votre email" />
                        </div>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label>Mot de passe :</label>
                            <div class="input-group mb-3">
                                <input class="form-control" type="password" id="password" placeholder="Mot de passe"
                                    onchange="checkPassword()" />
                                <span class="icons input-group-text"><i class="far fa-times-circle"></i></span>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="">
                            <label>Confirmation mot de passe :</label>
                            <div class="input-group mb-3">
                                <input class="form-control" type="password" id="passwordConfirm"
                                    placeholder="Confirmation mot de passe" onchange="checkPassword()" />
                                <span class="icons input-group-text"><i class="far fa-times-circle"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="login" data-bs-toggle="modal">Enregistrez-vous</button>
            </div>
        </div>
    </div>
</div>
