{{!--
    Partial: Modal pour supprimer un article sur la page admin
--}}
<div class="modal fade" id="deleteBlog" tabindex="-1" aria-labelledby="modalDeleteBlog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteBlog">Supprimer cet article</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Voulez-vous vraiment supprimer cet article ?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button href="/" type="button" class="btn btn-danger">Supprimer</button>
            </div>
        </div>
    </div>
</div>