{{!--
Partial: Modal pour supprimer un com sur la page admin
--}}

<div class="modal fade" id="deleteCom{{ this.id_comment }}" tabindex="-1" aria-labelledby="modalDeleteCom"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeleteCom">Supprimer un commentaires</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <label>Contenu du commentaire :</label>
                            <textarea class="form-control" id="text-message">{{this.content}}
                                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <form action="/account/delete/com/{{ this.id_comment }}?_method=DELETE" method="post">
                <div class="modal-footer">
                    <button type="submit"
                        class="btn btn-danger">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>