{{!--
Partial: Modal pour se déconnecter
--}}
<div class="modal fade" id="deconnexion" tabindex="-1" aria-labelledby="modalDeco" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDeco">Déconnexion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <p>Voulez-vous vraiment vous déconnectez ?</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form action="/logout" method="post">
                    <button class="btn btn-success">Valider</button>
                </form>
            </div>
        </div>
    </div>
</div>