<div class="modal fade" id="ModalReponse{{ this.idcomment }}" tabindex="-1" aria-labelledby="ModalReponse" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Message de {{ this.name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/create/voiture" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                
                <!--Name & Description-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label>Marque de la voiture :</label>
                            <input name="make" type="text" id="name" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label>Model de la voiture :</label>
                            <input name="model" type="text" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="contact-form">
                            <label>Prix de la voiture :</label>
                            <input name="price" type="number" />
                        </div>
                    </div>
                </div>
                <!--Image-->
                <div class="row">
                    <div class="col-md-6">
                        <input multiple name="img" type="file"></input>
                    </div>
                </div>
                <div class="col-md-12">
                        <div class="contact-form">
                            <label>Description :</label>
                            <input name="description" type="text" id="description" />
                        </div>
                    </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
        </div>
    </div>
</div>