
<!--Modal forgot password-->
<div class="modal fade" id="forgotpassword" aria-hidden="true" aria-labelledby="forgotpassword" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="forgotpassword">Mot de passe oublié ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Email-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label>Email :</label>
                            <input class="form-control" type="email" id="email-forgot-password"
                                placeholder="Ajouter votre email" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="login" data-bs-toggle="modal">Envoyer</button>
            </div>
        </div>
    </div>
</div>
