{{!--
    Partial: Modal pour éditer un com
--}}
<div class="modal fade" id="editCom" tabindex="-1" aria-labelledby="modalEditCom" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditCom">Modifier ce commentaires</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <label>Contenu du commentaire :</label>
                            <textarea class="form-control" id="text-message">Sed hendrerit ultricies orci at aliquet. Curabitur tristique fermentum finibus. Curabitur convallis convallis dolor sit amet sollicitudin
                                </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button href="/" type="button" class="btn btn-primary">Modifier</button>
            </div>
        </div>
    </div>
</div>