{{!--
    Partial: Modal de ban sur le page admin
--}}
<div class="modal fade" id="ban" tabindex="-1" aria-labelledby="modalBan" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalBan">Bannir cet utilisateur</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-form">
                            <label>Raison du ban :</label>
                            <input type="text" id="reason" placeholder="Ajouter une raison" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button href="/" type="button" class="btn btn-danger">Bannir</button>
            </div>
        </div>
    </div>
</div>