body {
  background-color: #152e30 !important;
}

h1, h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 230% !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #fff;
  width: 100px;
  content: " ";
  margin: 0 auto;
  margin-top: 2px;
}

h2 a {
  text-decoration: none;
  color: #fff;
}

h2 a:hover {
  color: #575757;
  transition: color 0.5s;
}

h2 a:not(:hover) {
  color: #fff;
  transition: color 0.5s;
}

.txt-color-white {
  color: #fff !important;
}

h4 {
  font-size: 100% !important;
  color: #fff;
}

nav a {
  color: #fff !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fixed-top {
  background-color: #152e30;
}

header {
  background-image: url(../img/Voitures-Img/rx7-fc.jpg);
  transform: scaleX(-1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.home-title {
  transform: scaleX(-1);
  padding-top: 15%;
  color: #fff;
}

.blog1 {
  background-image: url(../img/Voitures-Img/Jzx100.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.btn-white {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 1s, color 1s, border 1s;
  margin-bottom: 20px;
  color: #fff !important;
}

.btn-full {
  background-color: #575757;
  color: #fff;
  margin-right: 15px;
}

.btn-full:hover {
  background-color: #a5a5a5;
  color: #000000 !important;
}

.btn-contact {
  color: #fff !important;
}

.product {
  padding-top: 10px;
  border-radius: 10px;
}

.product img {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: auto;
}

.product h3 {
  font-size: 22px;
  padding-top: 10px;
}

.product p {
  color: #bf621b;
}

.contact-form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.contact-message {
  width: 100%;
}

.phone p i {
  padding-right: 10px;
}

.adress p i {
  padding-right: 10px;
}

footer {
  background-color: #20474a;
  width: 100%;
}

footer p {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}

footer p a {
  color: #fff;
}

.newslater {
  padding-top: 5px;
  height: 5vh;
}

.newslater input {
  border-radius: 10px;
  width: 60%;
  background-color: transparent;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: #fff;
}

search input {
  border-radius: 10px;
  background-color: transparent;
  border-color: #fff;
}

.form-select-sm {
  font-size: 0.875rem;
  border-radius: 0.375rem;
  background-color: #152e30;
  color: #fff;
}

.clients h2 {
  color: #fff;
}

.clients blockquote {
  color: #fff;
  font-style: italic;
  line-height: 130%;
  padding: 5px;
}

cite {
  font-size: 90%;
  display: block;
  margin-top: 20px;
}

cite img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.adminimg img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.box {
  border: #000000 solid 2px;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
