body {
  background-color: #152e30 !important;
}

h1, h2 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

h2 {
  color: #adb2b3;
  text-align: center;
  font-size: 230% !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #adb2b3;
  width: 100px;
  content: " ";
  margin: 0 auto;
  margin-top: 2px;
}

h2 a {
  text-decoration: none;
  color: #adb2b3;
}

h2 a:hover {
  color: #575757;
  transition: color 0.5s;
}

h2 a:not(:hover) {
  color: #adb2b3;
  transition: color 0.5s;
}

.txt-color-white {
  color: #adb2b3 !important;
}

h4 {
  font-size: 100% !important;
  color: #adb2b3;
}

nav a {
  color: #adb2b3 !important;
}

header {
  background-image: url(../img/Voitures-Img/rx7-fc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.home-title {
  padding-top: 30%;
  color: #adb2b3;
}

.blog1 {
  background-image: url(../img/Voitures-Img/Jzx100.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.btn-white {
  display: inline-block;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 1s, color 1s, border 1s;
  margin-bottom: 20px;
  color: #adb2b3;
}

.btn-full {
  background-color: #575757;
  color: #adb2b3;
  margin-right: 15px;
}

.btn-full:hover {
  background-color: #575757;
  color: #adb2b3;
}

.btn {
  position: center;
}

.btn-footer {
  background-color: #152e30;
  color: #000000;
  border-radius: 10px;
  transition: background-color 1s;
}

.btn-footer:hover {
  background-color: #adb2b3;
  color: #000000;
}

.product {
  padding-top: 50px;
  border-radius: 10px;
  height: 35vh;
}

.product img {
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.product h3 {
  font-size: 22px;
  padding-top: 10px;
}

.product p {
  color: #bf621b;
}

.banner {
  width: 100%;
}

.contact-form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.contact-message {
  width: 100%;
}

.phone p i {
  padding-right: 10px;
}

.adress p i {
  padding-right: 10px;
}

footer {
  background-color: #20474a;
  width: 100%;
}

footer p {
  color: #adb2b3;
  text-align: center;
  padding-top: 10px;
}

footer p a {
  color: #adb2b3;
}

.newslater {
  padding-top: 5px;
  height: 5vh;
}

.newslater input {
  border-radius: 10px;
  width: 60%;
  background-color: transparent;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: #adb2b3;
}

search input {
  border-radius: 10px;
  background-color: transparent;
  border-color: #adb2b3;
}

.clients h2 {
  color: #adb2b3;
}

.clients blockquote {
  color: #adb2b3;
  font-style: italic;
  line-height: 130%;
  padding: 5px;
}

cite {
  font-size: 90%;
  display: block;
  margin-top: 20px;
}

cite img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.adminimg img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.box {
  border: #000000 solid 2px;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
