{{!--
    Partial: Ajouter un commentaire
--}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Ajouter un commentaire</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <input class="border rounded-2" size="50" height="7vh" placeholder="Ajouter un commentaire">
        </div>
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-grey">Envoyer</button>
        </div>
    </div>
</div>