{{!--
    Partial: Commentaires
--}}
<section class="clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Commentaires</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="client-profil">
                    <blockquote>
                        Aenean a orci condimentum, viverra dolor quis, maximus diam. Nunc pulvinar dictum tempor.
                        <cite><img src="assets/img/Autres/img-pp.jpg">Emilie du Châtelet</cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4">
                <div class="client-profil">
                    <blockquote>
                        Aenean a orci condimentum, viverra dolor quis, maximus diam. Nunc pulvinar dictum tempor.
                        <cite><img src="assets/img/Autres/img-pp.jpg">Blaise Puitot</cite>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4">
                <div class="client-profil">
                    <blockquote>
                        Aenean a orci condimentum, viverra dolor quis, maximus diam. Nunc pulvinar dictum tempor.
                        <cite><img src="assets/img/Autres/img-pp.jpg">Julia Dubois</cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>