{{!--
    Partial: Header de la page id blog
--}}
<section class="blog1" id="blog1">
    <div class="container pt-6">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</section>