{{!--
    Partial: Titre et description de l'article
--}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Toyota Jzx100 mark II</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 txt-color-black">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquam, dui vel tempus commodo,
                    dui justo porttitor felis, at dapibus turpis diam id massa. Vestibulum tempus lacus sed orci
                    ultricies, nec tempus eros blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                    ac pellentesque nisi. Vestibulum vel lacus sit amet odio fermentum ultrices sit amet vel orci.
                    Aenean sed arcu id turpis laoreet interdum id at nulla. Aenean ut lectus et velit vehicula
                    facilisis vitae eget mauris.</p>
            </div>
        </div>
</section>